/*===========================================================================
    UNIVERSAL
===========================================================================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000;
    width: 100%;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
}

/*===========================================================================
    HEADER
===========================================================================*/
header nav {
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 100px;
    height: auto;
    border-radius: 10px;

}

header nav a {
    color: #fff;
    text-transform: capitalize;
    border: 4px solid rgb(93, 93, 96);
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

header nav a:hover {
    color: rgb(93, 93, 96);
}

header h1 {
    background-color: rgb(53, 52, 52);
    text-align: center;
    color: darkgrey;
    text-transform: uppercase;
    padding: 25px 0;
    margin-top: 30px;
    border-radius: 10px;
}

/*===========================================================================
    MAIN-CONTENT
===========================================================================*/
.banner {
    background: url('../images/hero2.jpg');
    width: 70%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border: 7px solid rgb(53, 52, 52);
    border-radius: 10px;
    margin-top: 30px;
}

.introduction {
    background-color: rgb(53, 52, 52);
    color: #fff;
    padding: 30px 60px 60px 60px;
    margin-top: 30px;
}

.introduction h3 {
    text-align: center;
    margin-bottom: 40px;
}

.recipies {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe {
    width: 30%;
    text-align: center;
    border: 7px solid rgb(83, 83, 87);
    border-radius: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.recipe:hover {
    cursor: pointer;
}

.recipe img {
    width: 100%;
    height: 290px;
}

.recipe p {
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 20px;   
}

.recipe p::first-letter {
    text-transform: capitalize;
}

/*===========================================================================
    FOOTER
===========================================================================*/
footer {
    background-color: rgb(53, 52, 52);
    border: 7px solid rgb(93, 93, 96);
    border-radius: 10px;
    color: #fff;
    margin-top: 30px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

footer .company img {
    width: 350px;
    height: auto;
}

footer .company .copyright {
    width: 350px;
    justify-content: space-between;
    margin-top: 10px;
}

footer .disclaimer {
    text-align: center;
}

footer .socials img {
    width: 50px;
    height: 50px;
}