body{ 
    background-color: black;

}

.banner{
    background-color: rgb(53, 52, 52);
    height: auto;
    width: 90%;
    margin-left: 4.5rem;
    margin-bottom: -2rem;
}

.banner, h1{
    color: darkgray;
    text-align: center;
    /* padding-bottom: 1rem; */
}

.top{
 display: grid;
 grid-template-columns: auto;
 grid-template-rows: 35vh;
 grid-template-areas: "banner";
 background-color: rgb(43, 46, 47);
 
}

.banpic{
    display: grid;
    grid-area: banner;
    width: 50%;
    background-color: rgb(43, 46, 47);
    border: 5px solid rgb(53, 52, 52);
    border-radius: 5% 5% 5% 5%;
    background-image: url(./images/herobackground.jpg);
    background-size: cover;
    background-position: top;
    padding-left: 15rem;
    padding-left: 15rem;
    padding-bottom: 5rem;
    justify-self: center;
    /* margin: 3rem;       */
}

.recipecontainer{
 
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
}

.recipe{
    background-color: rgb(43, 46, 47);
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25vh 25vh;
    grid-template-areas:
                        "recipe1 recipe2 recipe3"
                        "recipe4 recipe5 recipe6";
    margin: 1rem;
    padding: 1rem;

}
.hero{
    background-color: rgb(18, 19, 19);
    margin: 3rem;
}

#recipe1{
display: grid;
   grid-area: recipe1;
   margin: 0.5rem;
   border: 5px solid rgb(66, 66, 69);
   background-image: url(./images/roti.jpg);
   background-size: cover;
   border-radius: 5% 5%;
}

#recipe2{
display: grid;
   grid-area: recipe2;
   margin: 0.5rem;
   border: 5px solid rgb(66, 66, 69);
   background-image: url(./images/lasagna.jpeg);
   background-size: cover;
   border-radius: 5% 5%;
}      

#recipe3{
    display: grid;
    grid-area: recipe3;
    margin: 0.5rem;
    border: 5px solid rgb(66, 66, 69);
    background-image: url(./images/bruine-bonensoep.jpg);
    background-size: cover;
    border-radius: 5% 5%;
}
    
#recipe4{
    display: grid;
    grid-area: recipe4;
    margin: 0.5rem;
    border: 5px solid rgb(66, 66, 69);
    border-radius: 5% 5%;
}

#recipe5{
    display: grid;
    grid-area: recipe5;
    margin: 0.5rem;
    border: 5px solid rgb(66, 66, 69);
    border-radius: 5% 5%;  
}
    
#recipe6{
    display: grid;
    grid-area: recipe6;
    margin: 0.5rem;
    border: 5px solid rgb(83, 83, 87);
    border-radius: 5% 5%;
}

.outlinedrecipe{
    background-color: rgb(53, 52, 52);
    color: white;
    margin: 1rem;
}

.outlinedrecipe, div{
    margin: 1rem;
}

.outlinedrecipe, p{
    margin: 2rem;
    
}

#method, h3{
    text-align: center;
}

#method, p{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 2rem;
}