* {
    margin: 0;
    max-width: 1650px;
  }

body{ 
    background-color: black;
}

.header{
    width: 95%;
    height: auto;
}

.menu{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
                        "logo menu1 menu2 menu3 menu4";
    
                        
}

#logo{
    grid-area: logo;
    background-image: url(./images/logo2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 1rem;
    height: 150px;
    width: 100px;
    border-radius: 10px 10px;
}

#menu_item1{
    grid-area: menu1;
    color: darkgray;
    border: 4px solid rgb(93, 93, 96);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
}
#menu_item2{
    grid-area: menu2;
    color: darkgray;
    border: 4px solid rgb(93, 93, 96);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
}

#menu_item2{
    grid-area: menu2;
    color: darkgray;
    border: 4px solid rgb(93, 93, 96);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
}
#menu_item3{
    grid-area: menu3;
    color: darkgray;
    border: 4px solid rgb(93, 93, 96);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
}

#menu_item4{
    grid-area: menu4;
    border: 4px solid rgb(93, 93, 96);
    color: darkgray;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
    margin-right: 1rem;
}

.container{
    width: 95%;
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
                        "banner"
                        "hero"
                        "introduction"
                        "recipies"
                        "description"
                        "footer";
}

#banner{
    grid-area: banner;
    color: darkgray;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px 10px;
    border: 7px solid rgb(53, 52, 52);
    background-color: rgb(53, 52, 52);
}

#hero{
    width: 70%;
    place-self: center;
    background-color: rgb(43, 46, 47);
    border: 7px solid rgb(53, 52, 52);
    border-radius: 10px 10px;
    background-image: url(./images/hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10rem;
    padding-left: 10rem;
    padding-top: 10rem; 
    padding-bottom: 10rem;   
}

.recipecontainer{
    grid-area: recipies;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
}

.recipe{
    background-color: rgb(43, 46, 47);
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25vh 25vh;
    grid-template-areas:
                        "recipe1 recipe2 recipe3"
                        "recipe4 recipe5 recipe6";
    margin: 1rem;
    padding: 1rem;
}
.recipe, a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    text-shadow: 2px 2px beige;
}

#recipe1{
display: grid;
   grid-area: recipe1;
   margin: 0.5rem;
   margin-bottom: 0.5rem;
   border: 7px solid rgb(83, 83, 87);
   background-image: url(./images/roti.jpg);
   background-size: cover;
   border-radius: 5% 5%;
}

#recipe2{
display: grid;
   grid-area: recipe2;
   margin: 0.5rem;
   border: 7px solid rgb(83, 83, 87);
   background-image: url(./images/lasagna.jpeg);
   background-size: cover;
   border-radius: 5% 5%;
}      

#recipe3{
    display: grid;
    grid-area: recipe3;
    margin: 0.5rem;
    border: 5px solid rgb(83, 83, 87);
    background-image: url(./images/bruine-bonensoep.jpg);
    background-size: cover;
    border-radius: 5% 5%;
}
    
#recipe4{
    display: grid;
    grid-area: recipe4;
    margin: 0.5rem;
    border: 7px solid rgb(83, 83, 87);
    background-image: url(./images/spaghetti.jpg);
    background-size: cover;
    border-radius: 5% 5%;
}

#recipe5{
    display: grid;
    grid-area: recipe5;
    margin: 0.5rem;
    border: 7px solid rgb(83, 83, 87);
    background-image: url(./images/bread-pudding.jpg);
    background-size: cover;
    border-radius: 5% 5%;     
}
    
#recipe6{
    display: grid;
    grid-area: recipe6;
    margin: 0.5rem;
    border: 7px solid rgb(83, 83, 87);
    background-image: url(./images/oliebollen.jpg);
    background-size: cover;
    border-radius: 5% 5%;
}

.introduction{
    grid-area: introduction;
    background-color: rgb(53, 52, 52);
    color: white;
    margin: 1rem;
}

.outlinedrecipe{
    grid-area: description;
    background-color: rgb(53, 52, 52);
    color: white;
    margin: 1rem;
}

.outlinedrecipe, div{
    margin: 1rem;
}

.outlinedrecipe, p{
    margin: 2rem;    
}

#method, h3{
    text-align: center;
}

#method, p{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 2rem;
}

.footershell{
    grid-area: footer;

    
} 

.footer{
    grid-area: footer;
    background-color: rgb(53, 52, 52);
    border-radius: 10px 10px;
    border: 7px solid rgb(93, 93, 96);
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20vh 5vh 5vh 5h;
    grid-template-areas: 
                        "company company established"
                        "disclaimer disclaimer disclaimer"
                        "socials socials socials"
                        "copyright copyright copyright";
}

#company{
    grid-area: company;
    background-image: url(./images/cookbooklogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#established{
    grid-area: established;
    align-content: center;
}

#disclaimer{
    grid-area: disclaimer;
}

#copyright{
    grid-area: copyright;
}

#socials{
    grid-area: socials;
}